.header {
    background-color: #2B3449;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.header__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 0 0.75%;
    border-radius: 5px;
}

.header__column {
    display: flex;
    flex: 0 1 33.33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__button{
}

.header__info{
    white-space: nowrap;
    color: #FEFEFE;
}