.list__item {
    /*border: 1px solid red;*/
    flex: 1 1 auto;
    padding: 1%;
    margin: 1% 0;
    display: flex;
    min-width: 100%;
    /*height: 425px;*/
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    border-radius: 20px;
    border: 2px outset #CFCFCF;
}

.list__item:first-child {
    margin-top: 0;
}

.list__item:last-child {
    margin-bottom: 0;
}

.item__image {
    margin: auto;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.item__data {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__name{
    display: flex;
    flex-wrap: wrap;
}
.item__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 100%;
}

.item__buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1 1 100%;
}
@media all and (max-width: 520px) {
    .list__item {
        border-radius: 15px;
    }
    .item__image {
        width: 140px;
        height: 140px;
        border-radius: 15px;
    }
}
@media all and (max-width: 460px) {
    .list__item {
        font-size: 15px;
    }
}


@media all and (max-width: 415px) {
    .list__item {
        border-radius: 10px;
        border: 1px outset #CFCFCF;
    }
    .item__image {
        width: 120px;
        height: 120px;
        border-radius: 10px;
    }
}

@media all and (max-width: 390px) {
    .list__item {
        font-size: 13px;
        border-radius: 8px;
    }
    .item__image {
        width: 100px;
        height: 100px;
        border-radius: 8px;
    }
}

@media all and (max-width: 340px) {
    .item__info{
        flex-direction: column;
    }
}





